<div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="home-tab">
    <div class="form-container">
        <form>
            <div class="form-group required ">
                <label for="SignInUserName">Email or Username</label>
                <input type="text" id="SignInUserName" class="form-control" name="SignInUserName"[(ngModel)]="user.userName" />
            </div>
            <div class="form-group required">
                <label for="SigninPassword">Password</label>
                <input type="password" id="SigninPassword" class="form-control" name="SignInPassword"  [(ngModel)]= "user.password"/>
            </div>
            <button (click)="signIn()" type="button" id="SignIn" class="btn btn-success login-btn" >Sign in</button>
        </form>
    </div>
</div>